$mainDeg: linear-gradient(#6A5ACD, #373276);
$barraDeg: linear-gradient(to right, #6A5ACD, #6A5ACD, #E6E6FA);
$formDeg: linear-gradient(#708090, #22282c);
$blanco: #fbe9eb;
$pureWhite: #fff;
$tipografiaEstandar: 'Lato',
sans-serif;
//PALETA
$morado: #6A5ACD;
$morado2:#373276;
$gris:#E6E6FA;
$gris2:#708090;
$negro: #171a1e;
$negro2:#22282c;
$beige:#FFF8E4;