@import '../SASS/variables.scss';
#copyright {
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $footer;
    #footer__container__text {
        color: $azul2;
        font-family: $tipografia-enlaces;
        font-size: 20px;
        width: 70%;
    }
    #footer__legend {
        margin-left: 20%;
        font-size: 16px;
    }
    #container__social {
        width: 30%;
        text-align: center;
    }
    .social__icons {
        font-size: 20px;
        width: 38px;
        height: 38px;
        color: $blanco;
        text-align: center;
        line-height: 38px;
        border-radius: 50%;
        margin: 0 15px;
        background: $azul2;
    }
    .social__icons:hover {
        background: $naranja;
        transition: all 300ms ease;
    }
}