@import '../SASS/_variables.scss';
header {
    width: 100%;
    padding-top: 20px;
    position: absolute;
    /* FLEX */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: $tipografia-general;
    #header__logo {
        color: $blanco;
        padding: 21px;
        margin-left: 50px;
        width: 30%;
        display: flex;
    }
    .header__open {
        font-size: 25px;
        border: none;
        margin-right: 28px;
        color: $blanco;
        padding: 0px 5px;
        background: transparent;
    }
    .header__open:hover {
        color: $naranja;
        cursor: pointer;
        transition: all 0.2s ease;
    }
    #nav {
        text-align: right;
        margin-right: 25px;
        /* FLEX */
        flex-grow: 1;
    }
    .nav__enlaces {
        padding: 25px 30px;
        color: $blanco;
        margin-left: 35px;
        font-weight: 700;
    }
    .nav__enlaces:hover {
        border-bottom: 2px solid $blanco;
        transition: all 0.2s ease;
        padding-bottom: 10px;
    }
    .nav__icon {
        margin-right: 10px;
    }
}