$blanco:#e9f5f9;
$fullwhite: #fff;
$negro:#040f13;
$desc:#212529;
$naranja:#be4d25;
$azul:#145369;
$azul2:#3b4c54;
$azul3:#b2e6fe;
$gris:#7799a9;
$sub:#333;
$footer: #ebedee;
$tipografia-general: "Raleway",
sans-serif;
$tipografia-enlaces: 'Lato',
sans-serif;