* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

@import '../SASS/_header.scss';
@import '../SASS/slide_panel.scss';
@import '../SASS/section1.scss';
@import '../SASS/section2.scss';
@import '../SASS/section3.scss';
@import '../SASS/section4.scss';
@import '../SASS/section5__gallery.scss';
@import '../SASS/section6.scss';
@import '../SASS/section7__form.scss';
@import '../SASS/footer.scss';
@import '../SASS/copyrigth.scss';